.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

.poste {
  width: 15px;
  height: 50px;
  background-color: black;
}

.cuerpo-semaforo {
  background-color: black;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.luz {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.roja {
  background-color: #4d0000;
}
.amarilla {
  background-color: #4d4d00;
}
.verde {
  background-color: #003300;
}

/*brillo*/
.roja.encendida {
  background-color: red;
  box-shadow: 0 0 40px 10px red;
}

.amarilla.encendida {
  background-color: yellow;
  box-shadow: 0 0 40px 10px yellow;
}

.verde.encendida {
  background-color: #00ff00;
  box-shadow: 0 0 40px 10px #00ff00;
}
